<h1>Question list</h1>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <div style="position: relative">
            <li style="width: 320px"><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
            <div style="position: absolute; top: -5px; left: 320px">
                <button onClick="location.href='{% url 'edit' question.id %}'">Edit</button>
                <button onClick="location.href='{% url 'delete' question.id%}'">Delete</button>
            </div>
        </div>

    {% endfor %}
    </ul>

{% else %}
    <p>No polls are available.</p>
{% endif %}

<button onClick="location.href='{% url 'add' %}'">Add</button>
